<%
  # define an empty array
    partials = []

    # glob all the files in the directory variable and add them to the partials array
    Dir.glob("views/partials/drupal/patterns/*.*") do |filename|
        partials << File.basename(filename)
    end
    partials.each do |partial| %>

    <%= render :template => "patterns/#{partial}" %>
<% end %>



<!-- <section id="drupal-patterns" class="element-group">
  <h1 class="section-title"> Drupal Patterns</h1>
  <%= render :template => "patterns/_site-name.haml" %>
  <%= render :template => "patterns/_search.haml" %>
  <%= render :template => "patterns/_messages.haml" %>
  <%= render :template => "patterns/_block.haml" %>
  <%= render :template => "patterns/_tables.haml" %>
  <%= render :template => "patterns/_rss-link.haml" %>
  <%= render :template => "patterns/_links.haml" %>
  <%= render :template => "patterns/_taxonomy.haml" %>
  <%= render :template => "patterns/_field-image.haml" %>
  <%= render :template => "patterns/_node.haml" %>
  <%= render :template => "patterns/_comments.haml" %>
  <%= render :template => "patterns/_form-comment.haml" %>
  </section>
<section id="drupal-navigation" class="element-group">
  <h1 class="section-title"> Drupal Navigation</h1>
  <%= render :template => "patterns/_menu.haml" %>
  <%= render :template => "patterns/_menu-tree.haml" %>
  <%= render :template => "patterns/_tabs.haml" %>
  <%= render :template => "patterns/_breadcrumbs.haml" %>
  <%= render :template => "patterns/_pager.haml" %>
</section>
<section id="drupal-forms" class="element-group">
  <h1 class="section-title"> Drupal Forms</h1>
  <%= render :template => "patterns/_form-basic.haml" %>
  <%= render :template => "patterns/_form-submit.haml" %>
  <%= render :template => "patterns/_form-button.haml" %>
  <%= render :template => "patterns/_form-image-button.haml" %>
  <%= render :template => "patterns/_form-markup.haml" %>
  <%= render :template => "patterns/_form-fieldsets.haml" %>
  <%= render :template => "patterns/_form-vertical-tabs.haml" %>
  <%= render :template => "patterns/_form-new-account.haml" %>
  <%= render :template => "patterns/_form-login.haml" %>
  <%= render :template => "patterns/_form-new-password.haml" %>
</section> -->
